extends ../../layouts/header_footer.pug
block content
   link(rel="stylesheet", href="/css/user/index.css")
   .container.warp-info.mt-5
      .row
         .col-4.pic-left
            img.pic-img(src="http://thuthuatphanmem.vn/uploads/2018/04/10/hinh-nen-ca-bien-dep_052333790.jpg")
         .col-7.info-right
            .info-table
               .info-col
                  p.item Tên 
                  p.item Email
                  p.item Tài khoản
                  p.item Số dư
               .info-col
                  p.item : 
                  p.item :
                  p.item : 
                  p.item : 
               .info-col
                  p.item=user.fullname?user.fullname:"Vui lòng cập nhật Tên"
                  p.item=user.email?user.email:"Vui lòng cập nhật Email"
                  p.item #{user.name}
                  p.item #{user.balance}


