extends ../../layouts/user.pug
block usercontent
   link(rel="stylesheet", href="/css/user/transaction.css")
   table.tableStyle
      tr
         td STT
         td Thời gian
         td Số dư trước
         td số dư sau
         td giá trị
         td ghi chú
