extends ../layouts/admin.pug
block admincontent 
   table 
      form.d-inline-block(action='/admin/accsam/deleteaccsam/'+ id+'?page=' + page, method='POST')
         tr
            td
               a.btn.btn-warning.d-inline-block(href="/") Quay lại
            td
               button.btn.btn-danger Xóa

