extends ../../layouts/header_footer.pug
block content

   form#form(action='/transaction/account/'+ id , method="post")
      div số dư sau khi thanh toán là
      button#btn-Buy Thanh Toán
   script(src="/js/account/index.js")