body {
   background-color: gainsboro;
   font-style      : Arial;
}


/* -----header----- */
.header {
   padding-left    : 20px;
   padding-right   : 20px;
   background-color: whitesmoke;
   border-bottom   : 1px solid gray;
}

.header .row {
   color          : rgb(77, 77, 77);
   display        : flex;
   justify-content: space-between;


}

.header-scroll {
   box-shadow      : 0px 4px 4px 0px grey;
   color           : gray;
   box-shadow      : black;
   top             : 0;
   left            : 0;
   background-color: whitesmoke;
   z-index         : 1;
   position        : sticky;
}

.top-header {
   height : 50px;
   z-index: 99999;
}

.navbar-brand {
   font-weight: 500;
}

.navbar-brand .logo {
   width: 45px;
}

/* -----header---- */

.cover {
   background-image     : url('./196855.jpg');
   height               : 300px;
   background-size      : cover;
   background-attachment: fixed;
}

/* content */
.grid-acc {
   border          : 2px solid lightgray;
   background-color: whitesmoke;
   padding         : 50px;
}


.grid-item-contain {
   margin-top: 10px;

}

.grid-item {
   background: rgb(219, 219, 0);
   background: linear-gradient(185deg, rgba(219, 219, 0, 1) 0%, rgba(230, 170, 2, 1) 47%, rgba(213, 79, 0, 1) 100%);
   padding   : 5px;
   box-shadow: 0px 0px 3px 0.5px grey;
   height    : 450px;
}


.grid-item:hover {
   background: rgb(255, 255, 1);
   background: linear-gradient(180deg, rgba(255, 255, 1, 1) 0%, rgba(255, 188, 0, 1) 47%, rgba(255, 95, 0, 1) 100%);
   box-shadow: 0px 0px 5px 3px grey;

}

.grid-item .info {
   margin-top     : 5px;
   border-top     : 1px solid rgb(59, 59, 59);
   display        : flex;
   flex-direction : column;
   justify-content: flex-end;
   padding        : 5px;
}

.buttons {
   height         : 70px;
   border-top     : 1px solid rgb(59, 59, 59);
   display        : flex;
   align-items    : center;
   flex-direction : row;
   justify-content: space-around;
}

.buttons .btn {
   text-shadow     : 0px 0px 5px 3px red;
   box-shadow      : 0px 0px 1px 1px black;
   background-color: rgb(170, 3, 3);
   border          : 0.5px solid rgb(114, 114, 114);
}

.buttons .btn:hover {
   color           : gainsboro;
   background-color: rgb(224, 3, 3);
}


/* footer */


.site-footer {
   background-color: #16213e;
   padding         : 45px 0 20px;
   font-size       : 15px;
   line-height     : 24px;
   color           : #bbb;
}

.site-footer hr {
   border-top-color: #bbb;
   opacity         : 0.5;
}

.site-footer hr.small {
   margin: 20px 0;
}

.site-footer h6 {
   color     : #fff;
   font-size : 16px;
   margin-top: 5px;
}

.site-footer a {
   color: #bbb;
}

.site-footer a:hover {
   color          : #3366cc;
   text-decoration: none;
}

.footer-links {
   padding-left: 0;
   list-style  : none;
}

.footer-links li {
   display: block;
}

.footer-links a {
   color: #bbb;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
   color          : #3366cc;
   text-decoration: none;
}

.footer-links.inline li {
   display: inline-block;
}

.site-footer .social-icons {
   text-align: right;
}

.site-footer .social-icons a {
   width      : 40px;
   height     : 40px;
   line-height: 40px;
   margin-left: 6px;
   color      : white;
}

.copyright-text {
   margin: 0;
}

@media (max-width: 991px) {
   .site-footer [class^='col-'] {
      margin-bottom: 30px;

   }
}

@media (max-width: 767px) {
   .site-footer {
      padding-bottom: 0;
   }

   .site-footer .copyright-text,
   .site-footer .social-icons {
      text-align: center;
   }
}

.social-icons {
   list-style: none;
}

.social-icons li {
   display      : inline-block;
   margin-bottom: 1px;
}

.social-icons li.title {
   margin-right  : 15px;
   text-transform: uppercase;
   font-weight   : 700;
   font-size     : 13px;
}

.social-icons .icons {
   display     : inline-block;
   margin-right: 8px;
}

.social-icons.size-sm a {
   line-height: 34px;
   height     : 34px;
   width      : 34px;
   font-size  : 14px;
}

.social-icons .icons:hover {
   filter: invert(0.5) sepia(100);
}

@media (max-width: 767px) {
   .social-icons li.title {
      display     : block;
      margin-right: 0;
      font-weight : 600;
   }
}

a {
   text-decoration: none;
}