.warp {
   padding   : unset;
   box-shadow: 0px 0px 5px 1px gainsboro;
}

.user-header {
   padding         : unset;
   display         : flex;
   background-color: white;
   border          : 1px solid gainsboro;
   z-index         : 2;

}

.user-header .item {
   text-decoration : none;
   color           : black;
   font-size       : larger;
   background-color: white;
   border          : 1px solid gainsboro;
   padding         : 20px;
}