extends ../layouts/header_footer.pug 
block content
   link(rel="stylesheet", href="/css/index.css")    
   .container
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
         ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            li(data-target='#carouselExampleIndicators', data-slide-to='1')
            li(data-target='#carouselExampleIndicators', data-slide-to='2')
         .carousel-inner
            .carousel-item.active
               img.d-block.w-100(src='196855.jpg', alt='First slide')
            .carousel-item
               img.d-block.w-100(src='How-to-download-Roblox-on-Xbox-One-for-FREE-Best (2).jpg', alt='Second slide')
            .carousel-item
               img.d-block.w-100(src='...', alt='Third slide')
         a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
         a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
   .container.grid-acc
      .row
         for account in accounts
            if !account.stage
               .grid-item-contain.col-lg-6.col-sm-12.col-xl-4
                  .grid-item.mt-3
                     img.img(src=account.img style="width:100%;")
                     .info(style="height: 170px;")
                        div Tên: #{account.name}
                        div Vũ khí: #{account.weapon}
                        div Level: #{account.level}
                     .buttons
                        a.btn.btn-danger(href="/transaction/account/"+account._id)
                           i.fas.fa-shopping-cart
                           |  Mua Ngay
                        a.btn.btn-danger(href="#")
                           i.far.fa-eye
                           | Xem Chi Tiết


