extends ../layouts/header_footer.pug
block content
   link(rel="stylesheet", href="css/login.css")
   .container.content.pt-5
      .wrap-container
         .wrap-header
            div.wrap-header-item.item-1 Đăng Nhập
            a.wrap-header-item.item-2(href="#")  Đăng Kí
         form.form.mt-5(action="/login", method="post")
            input.form-item.item-1.border(placeholder="Nhập vào tài khoản", type="text", name="username")
            input.form-item.item-2.border(placeholder="Nhập vào mật khẩu", type="text", name="password")
            button.form-item.item-3.border(type="submit") Đăng Nhập
         .login-viva
            a.viva-google(href="#") 
               i.fab.fa-google
               span  Google
            a.viva-facebook(href="#")
               i.fa.fa-facebook
               span  Facebook
   script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
   script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
