extends ../layouts/header_footer.pug
block content
   link(rel="stylesheet", href="css/login.css")
   .container.content.pt-5
      .wrap
         .wrap-header
            a.wrap-header-item.item-1 Đăng Nhập
            a.wrap-header-item.item-2 Đăng Kí
         .wrap-login#wrap-login        
            form.form.mt-5(action="/login", method="post")
               input.form-item.item-1.border(placeholder="Nhập vào tài khoản", type="text", name="username")
               input.form-item.item-2.border(placeholder="Nhập vào mật khẩu", type="text", name="password")
               button.form-item.item-3.border(type="submit") Đăng Nhập
            .login-viva
               a.viva-google(href="#") 
                  i.fab.fa-google
                  span  Google
               a.viva-facebook(href="#")
                  i.fa.fa-facebook
                  span  Facebook
            .container.content.pt-5
         .wrap-signup#wrap-signup
            form.form.mt-5(action="/signup", method="post")
               input.form-item.item-1.border(placeholder="Nhập vào tài khoản", type="text", name="username")
               input.form-item.item-2.border(placeholder="Nhập vào mật khẩu", type="text", name="password")
               input.form-item.item-2.border(placeholder="Nhập lại mật khẩu", type="text", name="")
               button.form-item.item-3.border(type="submit") Đăng kí
            .login-viva
               a.viva-google(href="#") 
                  i.fab.fa-google
                  span  Google
               a.viva-facebook(href="#")
                  i.fa.fa-facebook
                  span  Facebook
   script(src="/js/login.js")